$gradient1: rgba(245, 194, 203, 0.9);
$gradient2: rgba(237, 239, 234, 0.9);
$color-white: #ffffff;
$color-black: #1d1d1d;
$color-blue: #0096fe;

$font-100: "Poppins-regular";
$font-200: "Poppins-Medium";
$font-300: "Poppins-SemiBold";
$font-400: "Poppins-Bold";
$font-500: "Poppins-ExtraBold";
$font-600: "Poppins-Black";
// $font-paragraph: "Roboto";
// $font-paragraph-medium: "Roboto-Medium";
