/****************** Fonts ****************/

@font-face {
  font-family: "Poppins-regular";
  src: url(../font/Poppins/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(../font/Poppins/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../font/Poppins/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../font/Poppins/Poppins-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url(../font/Poppins/Poppins-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Black";
  src: url(../font/Poppins/Poppins-Black.ttf) format("truetype");
}
